@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap");
.defaultStyle {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #4fbe4f;
  border-radius: 5px;
  border: none;
  color: #84f884;
  cursor: pointer;
  padding: 5px;
  transition: all 0.5s;
}
.defaultStyle:hover {
  background-color: #409940;
}
