@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap");
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs input {
  font-size: 20px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3aff3a;
  background-color: rgba(0, 255, 0, 0);
  border: 3px solid #84f884;
  outline: none;
  padding: 5px;
}
.invalid input {
  font-size: 20px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3aff3a;
  background-color: rgba(0, 255, 0, 0);
  border: 3px solid #dd0000;
  outline: none;
  padding: 5px;
  animation: shake 0.2s ease-in-out;
}
.button {
  display: flex;
  justify-content: end;
}
.button button {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  background-color: #618f61;
  color: #84f884;
  border: 4px solid #84f884;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
.button button:hover {
  background-color: #385838;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
