@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap");
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #84f884;
  padding: 50px;
  border-radius: 10px;
}
.card img {
  height: 200px;
  width: 200px;
  padding: 0px;
  margin: 0px;
}
.card h1 {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #84f884;
  font-size: 60px;
}
::placeholder {
  color: #84f884;
}
.card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
